body {
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
    margin: 0;
}

.header,
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12%;
}

header .logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.header ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 56px;
}
.hero {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 44px;
}
.hero-info{
    align-self: flex-start;
}
.hero-info p, a {
    color: #e5e7eb;
    font-size: 18px;
    line-height: 1.4;
}
.hero-info h2 {
    font-size: 48px;
    margin: 0;
    font-weight: bolder;
    color: #f9faf8;
}

img {
    display: block;
    width: 45%;
    height: auto;
    margin: auto;
    border-radius: 8px;
}

.btn {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 18px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
}

.info {
    padding: 40px 20%;
}
.info h2 {
    text-align: center;
    margin: 0;
}
.info-div{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-info p {
    width: 150px;
    text-align: center;
}
.box {
    border: 3px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 12px;
}
.quote{
    padding: 40px 12%;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quote .block-quote {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}
.sign-up {
    padding: 40px 12%;
    margin: 40px 0;
}
.sign-up .sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    background-color: #3882f6;
    padding: 24px 48px;
    color: #f9faf8;
    border-radius: 18px;
}
.sign .btn {
    border-color: #f9faf8;
}
.footer {
    padding: 20px 12%;
    color: #f9faf8;
    text-align: center;
}